body,html {
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
}


.starfield{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.starfield > * {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	transform-origin: 50% 50%;

  background-image:
    radial-gradient(2px 2px at 40px 60px, #ccc, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 20px 50px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 30px 100px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 60px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 110px 90px, #ccc, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 190px 150px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;

	-webkit-animation-name: starfieldRotate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}


.starfield > *:nth-child(1){
	-webkit-animation-duration: 8s;
}
.starfield > *:nth-child(2){
	-webkit-animation-duration: 12s;
}
.starfield > *:nth-child(3){
	-webkit-animation-duration: 16s;
}
.starfield > *:nth-child(4){
	-webkit-animation-duration: 20s;
}

@-webkit-keyframes starfieldRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}
