html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  background-color: #f8f8f8; }

body {
  overflow: hidden;
  height: 100%;
  width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #555555; }

a {
  text-decoration: none;
  color: inherit; }

.btn {
  display: block;
  position: relative;
  cursor: pointer; }

.btn-title {
  display: block;
  width: 150px;
  height: 40px;
  padding: 12px 0 0;
  background: #9dc852;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s background-color; }



.btn-title:before {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #9dc852;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #dddddd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color; }



.btn-title:hover {
  background: #8db842; }

.btn-title:hover:before {
  border-top-color: #8db842; }


.btn:hover > .btn-title:before {
  border-top-width: 0;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color; }

/* The 2nd Button */

.btn-title_2nd {
  background: #3D8EB9; }

.btn-title_2nd:hover {
  background: #34779b; }

.btn-title_2nd:before {
  border-top-color: #3D8EB9; }

.btn-title_2nd:hover:before {
  border-top-color: #3D8EB9; }

 /* The 3rd Button */ 

.btn-title_3rd {
  background: #D6523C; }

.btn-title_3rd:hover {
  background: #b44634; }

.btn-title_3rd:before {
  border-top-color: #D6523C; }

.btn-title_3rd:hover:before {
  border-top-color: #F29B34; }

  /* The 4th Button */

.btn-title_4th {
  background: #F29B34; }

.btn-title_4th:hover {
  background: #cf8732; }

.btn-title_4th:before {
  border-top-color: #F29B34; }

.btn-title_4th:hover:before {
  border-top-color: #F29B34; }



.btn-dropdown {
  min-width: 100%;
  padding: 15px 0;
  position: absolute;
  background: #ebebeb;
  z-index: 100;
  transition: 0.5s padding, 0.5s background; }

.btn-dropdown:after {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #ebebeb;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.5s border-top; }

.btn:not(:hover) > .btn-dropdown {
  padding: 5px 0;
  background: #dddddd;
  z-index: 99; }

.btn:not(:hover) > .btn-dropdown:after {
  border-top-color: #dddddd; }

.btn:not(:hover) > .btn-title:after {
  border-bottom-color: #dddddd; }

.btn-dropdown > * {
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  background: transparent;
  white-space: nowrap;
  
  transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 
  0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 
  0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 
  0.5s 0.2s color, 0.2s background-color; }



.btn-dropdown > *:hover {
  background: rgba(0, 0, 0, 0.1); }



.btn:not(:hover) > .btn-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
  z-index: 99; }


.btn-title:after {
  content: "";
  display: block;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #ebebeb;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  transition: 0.2s border-bottom ease-in; }


.btn:hover > .btn-title:after {
  border-bottom-width: 5px;
  transition: 0.2s 0.2s border-bottom-width ease-out; }


.hList {
  list-style: none; }

.hList > * {
  float: left; }

.hList > * + * {
  margin-left: 0; }

