body {
	background-color: #cedde3;
	color:Teal;

	align-items: center;
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 10px;
	padding: 8px;
	height: 60vh;
	justify-content: center;
	font-family: 'Alata';font-size: 18px;color:#c2c2c2;  
}

h3 {
	color:Teal;
    text-align: center;
	font-weight: bold;
  }

.btn {
border-radius: 50px;
background: #cedde3;
box-shadow:  8px 8px 16px #b3c0c5, 
             -8px -8px 16px #e9faff;

	padding-top: 8px;
	height: 30px;
	width: 300px;
	justify-content: center;

	text-decoration: none;
	color: Teal;
	text-align:center;
}

footer {
	color:Black;
	font-family: 'Butterfly Kids';font-size: 24px;
  }